<template name="notifications">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="glyphicon glyphicon-envelope"></span>
    {{#if notificationCount}}
      <span class="badge badge-inverse">{{notificationCount}}</span>
    {{/if}}
  </a>
  <ul class="notification dropdown-menu">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
    {{else}}
      <li style="text-align:center"><span>没有新消息</span></li>
    {{/if}}
  </ul>
</template>

<template name="notificationItem">
  <li style="text-lign:center">
    <a href="{{link}}">
        <strong>{{title}}</strong>
    </a>
  </li>
</template>
