<template name="pageAbout">
    <div class="container">
        <div class="page-header">
            <h1>帮助中心  <small></small></h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-chevron-right" >用户如何注册和登录?</span>
            </div>
            <div class="panel-body">
                <p>进入Sharey（http://localhost:3000）主页后，点击首页顶部右边的“登陆/注册”，开始进入注册和登录页面。</p>
                <p>如果已经注册，请直接输入账号密码登陆，如果没有登陆，请点击”注册账号“，输入账号和密码进行注册</p>
            </div>

            <div class="panel-heading">
                <span class="glyphicon glyphicon-chevron-right" >用户如何投放链接？</span>
            </div>
            <div class="panel-body">
                <p>用户可以点击右侧的“提交链接”，手动输入title和url，就可以投放生效</p>
                <p>为了方便，用户可以bookmarklet拖放到书签栏，发现好玩的链接，可以直接点击浏览器书签栏的bookmarklet，会自动生成你正在浏览页是的链接，快捷方便</p>
            </div>
            <div class="panel-heading">
                <span class="glyphicon glyphicon-chevron-right" >用户如何显示头像？</span>
            </div>
            <div class="panel-body">
                <p>用户如果想要显示头像，请点击右上角的用户名，然后进入个人主页，点击”修改资料“，输入自己的Github帐号名，Sharey的头像会自动同步你的Github头像，个人定制头像功能在以后的版本里会继续完善，敬请期待</p>
            </div>
        </div>
    </div>
</template>
