body {
    background: rgba(238,238,238,0.2);
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clear:after {
    clear:both;
}

.clearfix {
    *zoom: 1;
}

/* nav */
.env-position {
    top: 3px;
}
.badge-red {
    background: rgba(237,28,36,0.7);
}

/* post item */
.post-single {
    box-shadow: 0 5px 5px #ddd;
    margin-bottom: 20px;
}
.post-title {
    font-size: 2rem;
}
.post-url {
    font-size: 1.5rem;
    color: #b3c1c6;
}
.post-meta {
    background: #fff;
}
.post-author {
    font-weight: bold;
}

.upvote {
    margin-right: 5px;
    cursor: pointer;
}

/* comment part */
.comment-item {
    border: 0px solid #000;
    background: rgb(248,248,248);
}

.comment-single {
    margin-bottom: 5px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 5px 5px #ddd;
}
.comment-meta {
    font-weight: bold;
    font-size: 1.3rem;
}

.comment-upvote {
    margin-top: 15px;
    margin-right: 20px;
}

.comment-avatar {
   margin-right: 20px;
}

.comment-body {
    margin-left: 86px;
}

.comment-reply {
    margin-left: 86px;
}

#comment-delete {
    cursor: pointer;
}

/* user profile */
.user-profile .row {
    margin-top: 20px;
}

.avatar {
    display: inline;
}

.avatar-normal {
    width: 100px;
    height: 100px;
}

.avatar-small {
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
}

/*  chatroom page */
#chat-container {
    border: 1px #ddd solid;
}
.chat-wrap {
    height: 380px;
    margin-top: 10px;
    overflow: auto;
}

#chat-send {
    margin-bottom: 16px;
}

.chat-list {
    border: 1px #ddd solid;
    height: 410px;
    overflow: scroll;
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

