<template name="postItem">
    <div class="panel post-single">
        <div class="panel-heading clearfix">
            <span class="upvote fa {{upvotedClass}}"></span>
            <strong class="post-title"><a href="{{url}}" target="_blank">{{title}}</a></strong>
            <span class="post-url">{{domain}}</span>
            <button class="btn btn-primary float-right" id="discuss">评论</button>
        </div>

        <div class="panel-footer clearfix post-meta">
            <span class="post-vote">{{votes}} points by </span>
            <span class="post-author"><a href="{{authorLink}}">{{author}}</a></span> on {{submitted}}
            <span class="post-comment"> | {{commentsCount}} comments</span>
            {{#if isAuthor}}
            <a href="{{pathFor route='post.edit'}}" class="float-right">编辑</a>
            {{/if}}
        </div>
    </div>
</template>
