<template name="post_create">
<section class="container create-form">
<form role="form">
    <fieldset>
    <div class="form-group {{titleValidator}}">
      <label for="title" class="control-label">title {{titleInfo}}</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title">
  </div>
  <div class="form-group {{urlValidator}}">
    <label for="url" class="control-label">url {{urlInfo}}</label>
    <input type="text" class="form-control" id="url" placeholder="Enter url">
  </div>
  </fieldset>
  <button type="submit" class="btn btn-success {{buttonStatus}}">Submit</button>
</form>
</section>
</template>
