<template name="mainProfile">
<section class="user-profile">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img src="{{avatar}}" class="img-responsive img-circle avatar avatar-normal" />
    </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
    <table class="table table-hover table-responsive">
        <tbody>
            <tr>
                <td>用户名:</td>
                <td>{{username}}</td>
            </tr>
            <tr>
                <td>邮箱:</td>
                <td>{{email}}</td>
            </tr>
            <tr>
                <td>简介:</td>
                <td>{{profile.bio}}</td>
            </tr>
            <tr>
                <td>个人网站:</td>
                <td>{{profile.website}}</td>
            </tr>
            <tr>
                <td>Github:</td>
                <td>{{profile.github}}</td>
            </tr>
            <tr>
                <td>post Number:</td>
                <td>{{profile.postCount}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    {{#if isSameUser}}
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <button class="btn btn-danger profile-edit">修改资料</button>
    </div>
    </div>
    {{/if}}
</section>
</template>
