<template name="commentItem">
  <li class="list-group-item">
  <div class="comment-meta clearfix">
      <span class="upvote fa {{upvotedClass}}"></span>
      <span class="author">{{author}}</span>
      <span class="date">on {{submittedText}}</span>
      {{#if isAuthor}}
      <span class="glyphicon glyphicon-trash float-right" aria-hidden="true" id="comment-delete"></span>
      {{/if}}
  </div>
  <p>{{body}}</p>
  <span><a href="{{pathFor route="comment.page"}}">reply</a></span>
  {{#if hasChildComment}}
    <ul class="list-group">
        {{#each childComments}}
            {{> commentItem}}
        {{/each}}
    </ul>
  {{/if}}
  </li>

</template>
