<template name="commentItem">
  <li class="list-group-item comment-item">
  <div class="comment-single">
      <div class="comment-meta clearfix">
          <span class="comment-upvote fa {{upvotedClass}} float-left"></span>
          <img src="{{avatar}}"  class="img-responsive img-circle avatar avatar-small" />
          <span class="author">{{author}}</span>
          <span class="date">on {{submittedText}}</span>
          ,
          <span class="upvote">{{votes}} points</span>
          {{#if isAuthor}}
          <span class="glyphicon glyphicon-pencil float-right" aria-hidden="true" id="comment-edit"></span>
          {{/if}}
      </div>
      <p class="comment-body">{{body}}</p>
      <span class="comment-reply"><a href="{{pathFor route="comment.page"}}">reply</a></span>
  </div>
  {{#if hasChildComment}}
    <ul class="list-group">
        {{#each childComments}}
            {{> commentItem}}
        {{/each}}
    </ul>
  {{/if}}
  </li>

</template>
